body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

#page1 {
  height: 92vh;
  width: 100%;
  background: url(/img/whitecoat.png) no-repeat;
  background-size: cover;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.6);
  z-index: -1;
}

#page1 .container {
  padding: 1.5em;
  position: absolute;
  width: 60%;
  top: 15%;
  left: 20%;
  color: #20a588;
  font-size: 0.8vw;
  z-index: 0;
}

#page1 .container h1 {
  font-size: 4vw;
  text-align: center;
}

#page1 .container p {
  font-size: 1.5vw;
  text-align: center;
}

#page2 {
  height: 70vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
}

#profile-pic {
  float: left;
  height: 100%;
  width: 40%;
  text-align: center;
}

#profile-pic:before {
  content:'';
  display: inline-block;
  height:100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

#page2 .container {
  float: right;
  height: 100%;
  width: 60%;
  padding: 3% 10% 3% 0;
}

#page2 p {
  font-size: 1.2vw;
}

#page3 {
  height: 85vh;
  width: 100%;
  background-color: #F5F5F5;
}

.main {
  position: relative;
  width: 80%;
  margin: 0 auto;
  font-size: 1.5vmin;
}

.main .row {
  height: 20vw;
}

.project {
  height: 100%;
  padding: 5px !important;
  overflow: hidden;
  position: relative;
  display:flex;
  justify-content:center;
  align-items:center;
}

.project img {
  position: absolute;
  display: block;
  height: 95%;
  width: 95%;
  margin: auto;
}

.content {
  z-index: 1;
  opacity: 0;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.85);
  box-sizing: border-box;
  padding: 10%;
}

.content:hover {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.content p {
  font-size: 2vw;
}

.more-box {
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: .5em;
  font-size: 1.4vw;
  color: #20a588;
  left: 50%;
  transform: translateX(-50%);
}

.more-box span {
  position: absolute;
  background: none;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.more-box span.top {
  width: 100%;
  height: 2px;
  top: 0;
  left: -140%;
}

.more-box:hover span.top {
  left: 0;
  background: #20a588;
}

.more-box span.right {
  height: 100%;
  width: 2px;
  right: 0;
  top: -140%;
}

.more-box:hover span.right {
  top: 0;
  background: #20a588;
}

.more-box span.bottom {
  width: 100%;
  height: 2px;
  bottom: 0;
  right: -140%;
}

.more-box:hover span.bottom {
  right: 0;
  background: #20a588;
}

.more-box span.left {
  height: 100%;
  width: 2px;
  left: 0;
  bottom: -140%;
}

.more-box:hover span.left {
  bottom: 0;
  background: #20a588;
}

.info {
  font-size: 1.5vw;
}

#page4 {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);;
}

#page4 .container {
  padding: 1em;
}

.challenge-form {
  float: right;
}

h1 {
  font-size: 3vw;
  font-family: OpenSans-SemiBold;
  color: #20a588;
}

p {
  font-size: 1.2vw;
}

li {
  font-size: 1vw;
}

a {
  color: #20a588;
}

a.anchor {
    display: block;
    position: relative;
    top: -8vh;
    visibility: hidden;
}
