.overlay {
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,.8);
  overflow: auto;
  top: 0px;
  left: 0px;
  position: fixed;
}

.cpoe {
  height: 60%;
  width: 60%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
