.overlay {
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,.8);
  overflow: auto;
  top: 0px;
  left: 0px;
  position: fixed;
}

.content {
  top: 4.8em;
  height: calc(100% - 4.8em);
  width: 100%;
  position: fixed;
}

.cpoe {
  height: 80%;
  width: 80%;
  position: fixed;
  top: 10%;
  left: 10%;
  overflow: auto;
}

.medication {
  width: 100%;
  float: left;
}

.current {
  border-color: #00CC99;
  border-width: medium;
}

.details {
  background-color: rgba(255, 255, 255, 0.5);
}

.details button {
  margin: 1em 2em;
}

.order {
  height: 20em;
  width: 100%;
  background-color: #00CC99;
}
