.overlay {
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,.8);
  overflow: auto;
  top: 0px;
  left: 0px;
  position: fixed;
}

.content {
  top: 4.8em;
  height: calc(100% - 4.8em);
  width: 100%;
  position: fixed;
}

.cpoe {
  height: 80%;
  width: 80%;
  position: fixed;
  top: 10%;
  left: 10%;
  overflow: auto;
}

.medication {
  width: 100%;
  float: left;
}

.current-details {
  border-style: solid;
  border-color: #00CC99;
  border-width: medium;
}

.details {
  height: 5em;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.details button {
  position: relative;
  float: left;
  top: 50%;
  transform: translate(0,-50%);
  margin: 0 1em;
}

.details .remove {
  display: none;
}

.details p {
  float: left;
  font-size: 2em;
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
}

.order {
  height: 20em;
  width: 100%;
  background-color: rgba(0, 204, 153, 0.3);
}

.med-list {
  height: 100%;
  width: 30%;
}

.med {
  height: 4em;
  width: 100%;
}

.current-med {
  background-color: #00CC99;
}

.report {
  height: 4em;
  width: 100%;
  background-color: rgba(255, 255, 0, 0.5);
}

.report p {
  position: relative;
  width: 80%;
  float: left;
  top: 50%;
  transform: translate(0,-50%);
  margin: 0 1em;
}

.info-btn {
  position: relative;
  float: right;
  top: 50%;
  transform: translate(0,-50%);
  margin: 0 1em;
}

.black_overlay{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}

.white_content {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  border: 16px solid #00CC99;
  background-color: white;
  z-index:1002;
  overflow: auto;
}

#more-info h1 {
  left: 50%;
  transform: translate(0,-50%);
}

#close-btn {
  position: relative;
  bo;
  right: 10%;
}

td p {
  float: left;
}

table, th, td {
  border: 1px solid #00CC99 !important;
  border-collapse: collapse;
}
