body {
  background: url(/img/class_of_2018.jpg) no-repeat fixed;
  background-position: 50% 25%;
  background-size: cover;
  font-family: Lato;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(240,240,240,.95);
  overflow: auto;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: -100;
}

.social {
   top: 11%;
   left: 2%;
   position: fixed;
}

.title {
  color: #20a588;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 4vw;
}

.search-form {
  position: fixed;
  top: 25%;
  left: 50%;
  width: 50%;
  transform: translate(-50%,-50%);
}

.btn-group-wrap {
  text-align: right;
}

#query {
  border-radius: 0;
}

#search-btn {
  color: white;
  background-color: #20a588;
  border-color: #1d957a;
  border-radius: 0;
}

.article-list {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  height: 65%;
  width: 60%;
  overflow-y: scroll;
}

.article {
  position: relative;
  height: 18%;
  width: auto;
  margin-bottom: 1%;
  background-color: #F5FFFA;
  border: 2px solid #00CC99;
  overflow: hidden;
}

.article:hover {
  background-color: #DCDCDC;
}

p {
  font-size: 1.4vw;
  color: black;
}

li {
  font-size: 1.2vw;
  color: black;
}

a {
  color: #20a588;
}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

.btn {
  border-radius: 0;
}

.btn-default.active {
    color: white;
    background-color: #20a588;
    border-color: #1d957a;
}
