body {
  background: url(/img/graduation_2017.jpg) no-repeat fixed;
  background-position: 50% 25%;
  background-size: cover;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(240,240,240,.95);
  overflow: auto;
  top: 0px;
  left: 0px;
  position: fixed;
}

.social {
   top: 6em;
   left: 1%;
   position: absolute;
}

.form-group {
  position: relative;
  top: 20%;
  width: 80%;
  margin: auto;
}

h1 {
  color: #20a588;
  margin-left: auto;
  margin-right:auto;
  font-size: 4vw;
}

p {
  font-size: 1.4vw;
  color: black;
}

li {
  font-size: 1.2vw;
  color: black;
}

a {
  color: #20a588;
}
