---
layout: default
title: Team Nexus. A convergence of awesome ideas!
---

<!-- Awesome zoom box navbar! -->
<nav class="navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar">
      <div id="home-btn" class="box">
        Home
        <span class="top"></span>
        <span class="right"></span>
        <span class="bottom"></span>
        <span class="left"></span>
        <a class="boxlink"></a>
      </div>
      <div id="about-btn" class="box">
        About
        <span class="top"></span>
        <span class="right"></span>
        <span class="bottom"></span>
        <span class="left"></span>
        <a class="boxlink"></a>
      </div>
      <div id="projects-btn" class="box">
        Projects
        <span class="top"></span>
        <span class="right"></span>
        <span class="bottom"></span>
        <span class="left"></span>
        <a class="boxlink"></a>
      </div>
      <div id="challenges-btn" class="box">
        Challenges
        <span class="top"></span>
        <span class="right"></span>
        <span class="bottom"></span>
        <span class="left"></span>
        <a class="boxlink"></a>
      </div>
    </div>
  </div>
</nav>

<!-- Skeleton -->
<div class="pages">

  <!-- Home section -->
  <section id="page1" class="slide">
    <div class="container">
      <h1 style="font-family: HelveticaNeueLTStd; font-size: 4.5em; text-align: center; margin: 0.2em">Welcome Friends!</h1>
      <p style="font-size: 2em; font-family: Museo500; text-align: center; margin: 0 7%">This developing website is dedicated to you and everyone else for being awesome in some way. You all deserve credit for leaving a positive imprint and being my motivation to continue improving.</p>
    </div>
  </section>

  <!-- About section -->
  <section id="page2" class="slide">
    <div id="profile-pic"><img style="display: inline-block; vertical-align: middle; height: 80%" src="img/bw_profile.jpg" alt="Picture of Me!"/></div>
    <div class="container">
      <h1>Yo, I'm Alec.</h1>
      <p>I am a curious extrovert. Although I currently study pharmacy at the Philadelphia College of Pharmacy, I have a fascination for knowledge. My love for critical thinking and problem solving is matched only by my habit of creating them. Although ambitious, my life goals are to do everything, become awesome, and inspire others. I enjoy multiplayer videogames, computer programming, and ultimate frisbee. I dislike surrendering, recursion, and sweets.</p>
      <p>My plan for the immediate future is to explore the various fields of pharmacy while completing my education and earning my PharmD. I currently work in a retail pharmacy, but am more interested in clinically-challenging setting. Due to my passion of technology, I am interested in informatics pharmacy which focuses on different technology systems in the healthcare workflow.</p>
      <p>Team Nexus is an organization where awesome ideas converge. I am the only permanent member. The other members are the inspiring people who have helped or collaborated with me. I learn from others and try to emulate them with my own style. Without the wonderful help and positive influence of the people around me, I would not get to where I am today. These lessons are treasured and referenced to achieve success.</p>
      <p>You can email me at: alec@teamnex.us</p>
    </div>
  </section>

  <!-- Projects section -->
  <section id="page3" class="slide">
    <div class="container">
      <h1>Projects</h1>
      <p>I take great pride in my work. Projects are collaboratively completed and then generously shared. Check out some of the projects I've worked on below. Some might prove useful!</p>
    </div>
    {% include projects.html %}
  </section>

  <!-- Challenges section -->
  <section id="page4" class="slide">
    <div class="row">
      <div class="col-xs-8 col-md-8">
        <div class="container" style="width: 90%; margin-left: 15%;">
          <h1>Challenges</h1>
          <p>I've been inspired by <a href="http://www.reddit.com/r/AskReddit/comments/258w8s/what_is_a_story_you_have_been_dying_to_tell/chex9eq" target="_blank">this reddit post</a> to have a challenge bucket list. Tell me something you have done, or want to do, that you think I should do. It can be anything, as challenging as you want it to be, or as easy. As long as you give me the rest of my life to complete it, I promise I will do it. Email me a challenge!</p>
        </div>
      </div>
      <div class="col-xs-4 col-md-4">
        <div class="challenge-form" style="height: 80%; width: 80%">
          <form action="http://formspree.io/alec@teamnex.us" method="POST" style="margin-right: 15%; margin-top: 10%">
            <div class="row"><input type="text" name="name" placeholder="Your name" style="width: 15em; margin: 0.25em;"></div>
            <div class="row"><input type="email" name="_replyto" placeholder="Your email" style="width: 15em; margin: 0.25em;"></div>
            <div class="row"><textarea name="body" placeholder="Your challenge!" style="height: 6em; width: 15em; margin: 0.25em;"></textarea></div>
            <div class="row"><input type="submit" value="Send" style="width: 15em; margin: 0.25em;"></div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <h3 style="color: #C0C0C0; text-align: center; font-family: Mentone"><i>"Every win is possible. Your actions make it probable."</i></h3>
      </div>
    </div>
    {% include interactive-table.html %}
  </section>

</div>

<!-- jQuery scripts -->

<!-- smooth scroll -->
<script type="text/javascript">
  var $root = $('html, body');
  $('a').click(function() {
    $root.animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 500);
    return false;
  });
  $('img').on('dragstart', function(){return false;});
  /* font tester
  $(document).ready(function(){
    var size = $("#fonty").css('font-size');
    alert("size:" + size);
  });*/
</script>

<script>
$(".pages").onepage_scroll({
   sectionContainer: "section",
   easing: "ease",
   animationTime: 500,
   pagination: true,
   updateURL: false,
   beforeMove: function(index) {},  // This option accepts a callback function. The function will be called before the page moves.
   afterMove: function(index) {},   // This option accepts a callback function. The function will be called after the page moves.
   loop: false,
   keyboard: true,
   responsiveFallback: false,       // You can fallback to normal page scroll by defining the width of the browser in which
                                    // you want the responsive fallback to be triggered. For example, set this to 600 and whenever
                                    // the browser's width is less than 600, the fallback will kick in.
   direction: "vertical"            // You can now define the direction of the One Page Scroll animation. Options available are "vertical" and "horizontal". The default value is "vertical".
});
</script>
