---
layout: default
title: Team Nexus. A convergence of awesome ideas!
---

  <!-- Awesome zoom box navbar! -->
  <nav class="navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar">
        <div class="box">
          Home
          <span class="top"></span>
          <span class="right"></span>
          <span class="bottom"></span>
          <span class="left"></span>
          <a class="boxlink" href="#home"></a>
        </div>
        <div class="box">
          About
          <span class="top"></span>
          <span class="right"></span>
          <span class="bottom"></span>
          <span class="left"></span>
          <a class="boxlink" href="#about"></a>
        </div>
        <div class="box">
          Projects
          <span class="top"></span>
          <span class="right"></span>
          <span class="bottom"></span>
          <span class="left"></span>
          <a class="boxlink" href="#projects"></a>
        </div>
        <div class="box">
          Challenges
          <span class="top"></span>
          <span class="right"></span>
          <span class="bottom"></span>
          <span class="left"></span>
          <a class="boxlink" href="#challenges"></a>
        </div>
      </div>
    </div>
  </nav>

  <!-- Home section -->
  <div id="page1">
    <a id="home" style="position: relative; top: -4.7em;">&nbsp;</a>
    <div class="container">
      <h1 style="font-size: 5em; text-align: center; margin: 0.3em">Welcome Friends!</h1>
      <p style="font-size: 2em; font-family: Museo500; text-align: center; margin: 0 7%">This developing website is dedicated to you and everyone else for being awesome in some way. You all deserve credit for leaving a positive imprint and being my motivation to continue improving.</p>
    </div>
  </div>

  <!-- About section -->
  <div id="page2">
    <a id="about" style="position: relative; top: -4.7em;">&nbsp;</a>
    <div id="profile-pic"><img style="display: inline-block; margin: auto; vertical-align: middle; max-width: 100%" src="pictures/bw_profile.jpg"/></div>
    <div class="container">
      <h1>Yo, I'm Alec.</h1>
      <p>I am a curious extrovert. Although I currently study pharmacy at the Philadelphia College of Pharmacy, I have a fascination for knowledge. My love for critical thinking and problem solving is matched only by my habit of creating them. Although ambitious, my life goals are to do everything, become awesome, and inspire others. My I enjoy multiplayer videogames, computer programming, and ultimate frisbee. I dislike surrendering, recursion, and sweets.</p>
      <p>My plan for the immediate future is to explore the various fields of pharmacy while completing my education and earning my PharmD. I currently work in a retail pharmacy, but am more interested in clinically-challenging setting. Due to my passion of technology, I am interested in informatics pharmacy which focuses on different technology systems in the healthcare workflow.</p>
      <p>Team Nexus is an organization where awesome ideas converge. I am the only permanent member. The other members are the inspiring people who have helped or collaborated with me. I learn from others and try to emulate them with my own style. Without the wonderful help and positive influence of the people around me, I would not get where I am today. These lessons are treasured and referenced to achieve success.</p>
      <p>You can email me at: alec@teamnex.us</p>
    </div>
  </div>

  <!-- Projects section -->
  <div id="page3">
    <a id="projects" style="position: relative; top: -4.7em;">&nbsp;</a>
    <div class="container">
      <h1>Projects</h1>
      <p>I take great pride in my work. Projects are collaboratively completed and then generously shared. Check out some of the projects I've worked on below. Some might prove useful!</p>
    </div>
    {% include projects.html %}
  </div>

  <!-- Challenges section -->
  <div id="page4">
    <a id="challenges" style="position: relative; top: -4.7em;">&nbsp;</a>
    <div class="container">
      <h1>Challenges</h1>
      <p>I've been inspired by <a href="http://www.reddit.com/r/AskReddit/comments/258w8s/what_is_a_story_you_have_been_dying_to_tell/chex9eq" target="_blank">this reddit post</a> to have a challenge bucket list. Tell me something you have done, or want to do, that you think I should do. It can be anything, as challenging as you want it to be, or as easy. As long as you give me the rest of my life to complete it, I promise I will do it.</p>
      <h3 style="color: #C0C0C0; text-align: center; font-family: Mentone"><i>"Every win is possible. Your actions make it probable."<i></h3>
    </div>
    {% include interactive-table.html %}
  </div>

<!-- jQuery scripts -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- smooth scroll -->
<script type="text/javascript">
  var $root = $('html, body');
  $('a').click(function() {
    $root.animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 500);
    return false;
  });
  /* font tester
  $(document).ready(function(){
    var size = $("#fonty").css('font-size');
    alert("size:" + size);
  });*/
</script>
