<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/thumbnail-hover.css"/>
  <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/list.js"></script>
  <!-- Google app site verification -->
  <meta name="google-site-verification" content="KMhoH7MFXEz60ENtC4NoGTtmY0BtWVQnot7stbivRjg"/>
  <style>
    @font-face {
      font-family: Mentone;
      src: url(fonts/mentone-semibol.otf)
    }
    @font-face {
      font-family: Lato;
      src: url(fonts/Lato-Regular.woff)
    }
    @font-face {
      font-family: Museo500;
      src: url(fonts/Museo500.woff)
    }
    @font-face {
      font-family: Museo300;
      src: url(fonts/MuseoSans-300.otf)
    }
  </style>
</head>
<body>
