<div class="main">
  <div class="row">
    <div class="col-xs-4 col-md-4">
      <div class="view view-second">
        <img src="pictures/default_project.png">
        <div class="mask"></div>
        <div class="content">
          <p>This project isn't ready to be shared yet. Stay tuned!</p>
          <a href="#projects" class="info">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-md-4">
      <div class="view view-second">
        <img src="pictures/default_project.png">
        <div class="mask"></div>
        <div class="content">
          <p>This project isn't ready to be shared yet. Stay tuned!</p>
          <a href="#projects" class="info">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-md-4">
      <div class="view view-second">
        <img src="pictures/default_project.png">
        <div class="mask"></div>
        <div class="content">
          <p>This project isn't ready to be shared yet. Stay tuned!</p>
          <a href="#projects" class="info">Read More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-md-4">
      <div class="view view-second">
        <img src="pictures/default_project.png">
        <div class="mask"></div>
        <div class="content">
          <p>This project isn't ready to be shared yet. Stay tuned!</p>
          <a href="#projects" class="info">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-md-4">
      <div class="view view-second">
        <img src="pictures/default_project.png">
        <div class="mask"></div>
        <div class="content">
          <p>This project isn't ready to be shared yet. Stay tuned!</p>
          <a href="#projects" class="info">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-md-4">
      <div class="view view-second">
        <img src="pictures/default_project.png">
        <div class="mask"></div>
        <div class="content">
          <p>This project isn't ready to be shared yet. Stay tuned!</p>
          <a href="#projects" class="info">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
