<div class="main">
  <div class="row">
    <div class="project col-sm-4 col-md-4">
      <img src="img/sleepingcat.jpg" alt="NLM Citation Machine">
      <div class="content">
        <p><strong>Squelch</strong></p>
        <p>Ringer restorer for jailbroken iPhones!</p>
        <div class="more-box">
          <strong>Read More</strong>
          <span class="top"></span>
          <span class="right"></span>
          <span class="bottom"></span>
          <span class="left"></span>
          <a class="boxlink" href="https://github.com/alectrolytes/Squelch"></a>
        </div>
      </div>
    </div>
    <div class="project col-sm-4 col-md-4">
      <img src="img/citation.png" alt="NLM Citation Machine">
      <div class="content">
        <p><strong>NLM Citation Machine</strong></p>
        <p>NLM style citation generator!</p>
        <div class="more-box">
          <strong>Read More</strong>
          <span class="top"></span>
          <span class="right"></span>
          <span class="bottom"></span>
          <span class="left"></span>
          <a class="boxlink" href="http://teamnex.us/nlm-citation-machine"></a>
        </div>
      </div>
    </div>
    <div class="project col-sm-4 col-md-4">
      <img src="img/grade-calc.png" alt="Unfinished Project">
      <div class="content">
        <p><strong>Grade Calculator</strong></p>
        <p>Excel spreadsheet for calculating grades!</p>
        <div class="more-box">
          <strong>Read More</strong>
          <span class="top"></span>
          <span class="right"></span>
          <span class="bottom"></span>
          <span class="left"></span>
          <a class="boxlink" href="../grade-calc-template.xlsx"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="project col-sm-4 col-md-4">
      <img src="img/default_project.png" alt="Unfinished Project">
      <div class="content">
        <p>This project isn't ready to be shared yet. Stay tuned!</p>
        <div class="more-box">
          <strong>Read More</strong>
          <span class="top"></span>
          <span class="right"></span>
          <span class="bottom"></span>
          <span class="left"></span>
            <a class="boxlink" href="#projects"></a>
        </div>
      </div>
    </div>
    <div class="project col-sm-4 col-md-4">
      <img src="img/default_project.png" alt="Unfinished Project">
      <div class="content">
        <p>This project isn't ready to be shared yet. Stay tuned!</p>
        <div class="more-box">
          <strong>Read More</strong>
          <span class="top"></span>
          <span class="right"></span>
          <span class="bottom"></span>
          <span class="left"></span>
            <a class="boxlink" href="#projects"></a>
        </div>
      </div>
    </div>
    <div class="project col-sm-4 col-md-4">
      <img src="img/default_project.png" alt="Unfinished Project">
      <div class="content">
        <p>This project isn't ready to be shared yet. Stay tuned!</p>
        <div class="more-box">
          <strong>Read More</strong>
          <span class="top"></span>
          <span class="right"></span>
          <span class="bottom"></span>
          <span class="left"></span>
            <a class="boxlink" href="#projects"></a>
        </div>
      </div>
    </div>
  </div>
</div>
