<div class="main">
  <div class="row">
    <div class="project col-sm-4 col-md-4">
      <img src="img/sleepingcat.jpg" alt="NLM Citation Machine">
      <div class="content">
        <p><strong>Squelch</strong></p>
        <p>Ringer restorer for jailbroken iPhones!</p>
        <div class="more-box">
          Read More
          <span class="top"></span>
          <span class="right"></span>
          <span class="bottom"></span>
          <span class="left"></span>
          <a class="boxlink" href="https://github.com/alectrolytes/Squelch"></a>
        </div>
      </div>
    </div>
    <div class="project col-sm-4 col-md-4">
      <img src="img/citation.png" alt="NLM Citation Machine">
      <div class="content">
        <p><strong>NLM Citation Machine</strong></p>
        <p>NLM style citation generator!</p>
        <div class="more-box">
          Read More
          <span class="top"></span>
          <span class="right"></span>
          <span class="bottom"></span>
          <span class="left"></span>
          <a class="boxlink" href="http://teamnex.us/nlm-citation-machine"></a>
        </div>
      </div>
    </div>
    <div class="project col-sm-4 col-md-4">
      <img src="img/grade-calc.png" alt="Grade Calculator">
      <div class="content">
        <p><strong>Grade Calculator</strong></p>
        <p>Excel spreadsheet for calculating grades!</p>
        <div class="more-box">
          Read More
          <span class="top"></span>
          <span class="right"></span>
          <span class="bottom"></span>
          <span class="left"></span>
          <a class="boxlink" href="../grade-calc-template.xlsx"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="project col-sm-4 col-md-4">
      <img src="img/usci_pubmed.png" alt="USci PubMed Bookmarklet">
      <div class="content">
        <p><strong>USci PubMed Bookmarklet</strong></p>
        <p>Gives USciences library access to the current PubMed page!</p>
        <div class="more-box">
          Drag This
          <span class="top"></span>
          <span class="right"></span>
          <span class="bottom"></span>
          <span class="left"></span>
            <a class="boxlink" href="javascript:(function()%7B!function()%7Bvar n%3Dwindow.location.href.replace("www.ncbi.nlm.nih.gov"%2C"www-ncbi-nlm-nih-gov.db.usciences.edu")%3Bthis.document.location.href%3Dn%7D()%7D)()"></a>
        </div>
      </div>
    </div>
    <div class="project col-sm-4 col-md-4">
      <img src="img/default_project.png" alt="Unfinished Project">
      <div class="content">
        <p>This project isn't ready to be shared yet. Stay tuned!</p>
        <div class="more-box">
          Read More
          <span class="top"></span>
          <span class="right"></span>
          <span class="bottom"></span>
          <span class="left"></span>
            <a class="boxlink" href="#projects"></a>
        </div>
      </div>
    </div>
    <div class="project col-sm-4 col-md-4">
      <img src="img/default_project.png" alt="Unfinished Project">
      <div class="content">
        <p>This project isn't ready to be shared yet. Stay tuned!</p>
        <div class="more-box">
          Read More
          <span class="top"></span>
          <span class="right"></span>
          <span class="bottom"></span>
          <span class="left"></span>
            <a class="boxlink" href="#projects"></a>
        </div>
      </div>
    </div>
  </div>
</div>
